@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Lato", serif;
}
header{
    background-color: #F1F0EE;
}
.container{
    max-width: 1182px;
    width: 100%;
    margin: 0 auto;
    padding: 17px 10px;
    padding-bottom: 60px;

}
.container__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}
.header__menu{
    display: flex;
    gap: 36px;
    align-items: center;
}
.header__link > a{
    color: black;
    font-weight: 500;
    line-height: 22px;
  
}
.header__href{
    background-color: white;
    padding: 11px 49px;
    border-radius: 100px;
    border: 2px solid white;
    color: black;
}
.header__href:hover{
    background-color: inherit;
    border: 2px solid white;
    transition-duration: 0.5s;
}

.hero__box{
    display: flex;
    justify-content: space-between;
}
.hero__title{
    font-weight: 700;
    font-size: 40px;
    padding-right: 150px;

}
.hero__span{
    color: #BA8D5B;

}

.hero_inner_box{
    max-width: 325px;
    width: 100%;
}
.hero__text{
    margin-top: 19px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #191919;
}
.hero__button{
    margin-top: 70px;
    padding: 13px 46px;
    border-radius: 100px;
    background-color:#BA8D5B;
    font-weight: 700;
    line-height: 22px;
    color: white;
    border: 2px solid #BA8D5B;
}
.hero__button:hover{
    background-color: inherit;
    border: 2px solid #BA8D5B;
    transition-duration: 0.5s;
    color: #BA8D5B;
    cursor: pointer;
}
.hero__img{
    position: relative;
}
.container__nav{
    display: flex;
}
.hero{
    background-image: url(./img/bg_herosvg.png);
    background-size: 800px;
    background-repeat: no-repeat;
    background-position-x: 83%;
    background-position-y:100% ;
    background-color: #F1F0EE;
    padding-top: 68px;

}
.wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 44px;
    padding: 48px 0;
}
.wrap__title{
    font-weight: 800;
    font-size: 32px;
    margin-top: 35px;
}
.wrap__box{
    display: flex;
    align-items: start;
    gap: 40px;
}
.wrap__inner__title{
    color: #0F1826;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

}
.wrap__inner_text{
    margin-top: 14px;
    max-width: 433px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #607987;
}
.wrap__child{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 16px;
}
.wrap__child__title{
    font-weight: 600;
    font-size: 16px;
    color: #0EB182;
}
.wrapper{
    background: #F9F8F7;
    padding: 40px 40px;
}
.wrapper__title{
    font-weight: 800;
    font-size: 32px;
    line-height: 56px;
}
.wrapper__text{
    margin-top: 24px;
    color: #607987;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.wrapper__inner__box{
    display: flex;
    gap: 33px;
}
.wrapper__button{
    border-radius: 4px;
    margin-top: 24px;
    padding: 17px 17px;
    max-width: 254px ;
    width: 100%;
    border: 1px solid #607987;

}
.wrapper__button__title{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}
.wrapper__button__text{
    margin-top: 12px;
    color: #607987;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.wrapper__h4{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color:#0EB182;
    margin-top: 18px;
}
.wrapper__button__p{
    display: none;
}
.customers_title{
    margin-top: 48px;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #0F1826;
}
.customers_text{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #607987;
    margin-top: 24px;
}
.customers_box{
    padding-top: 48px;
    padding-bottom: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 31px;
}
.customers_inner_img{
    padding: 38px 33px;
    background-color: #F9F8F7;
    display: inline-block;
    border-radius: 8px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
}
.customers_inner_box{
    padding: 38px 33px;
    background-color: #F9F8F7;
    display: inline-block;
    border-radius: 8px;

}
.header_burder{
    display: none;
  }
.graduates_title{
    font-weight: 800;
    line-height: 40px;
    font-size: 32px;
    color: #0F1826;
  }
 .graduates_text{
    margin-top: 24px;
     font-size: 15px;
     font-weight: 600;
     line-height: 24px;
     color:#607987;
  }
  .graduates_png{
    z-index: -10;
  }
  .graduates_inner_png{
    margin-top: 48px;
    position: relative;
    max-width: 230px;
    overflow: hidden;
    border-radius: 22px;
  }
  .example{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.37) 69.5%, rgba(0, 0, 0, 0.65) 90.34%);
    position: absolute;
    z-index: 4;
    border-radius: 22px;
  }
  .graduates_svg{
    position: absolute;
    bottom: 365px;
    left:16px;
  }
  .graduates_inner_text{
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

    
  }
  .graduates_box_text {
    position: absolute;
    bottom: 20px;
    left: 26px;
    z-index: 5;
}
.graduates_inner_number{
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
    color: #FFFFFF;
}
.graduates_inner_text_smm{
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
    color: #7CD1AC;
}
.graduates_inner_box{
    display: flex;
    gap: 65px;
}
.graduates_inner_png_box{
    margin-top: 48px;
    position: relative;
    max-width: 230px;
    overflow: hidden;
    border-radius: 22px;
}
.graduates_inner_png_box2{
    margin-top: 48px;
    position: relative;
    max-width: 230px;
    overflow: hidden;
    border-radius: 22px;
}
.graduates_inner_png_box3{
    margin-top: 48px;
    position: relative;
    max-width: 230px;
    overflow: hidden;
    border-radius: 22px;
}
.request{
    display: flex;
  
}
.request_box{
    background-color: #FFFFFF;
    background-color: #F9F8F7;
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px ;
    padding: 32px 32px;
    padding-right: 126px;
}
.request_inner_box{
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 45px 40px;
}
.request_title{
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    color: #0F1826;
}
.request_text{
    margin-top: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #607987;
}
.request_span{
    font-weight: 500;
    font-size: 16px;
    color: #BA8D5B;
}
.request_name{
    margin-top: 32px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.28px;
    color: #00000059;

}
.requesti_input{
    margin-top: 6px;
    max-width: 368px;
    width: 100%;
    padding: 14px 17px;
    border-radius: 100px;
    border: 1px solid #DADADA
}
.request_p{
    margin-top: 32px;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}
.request_p_span{
    color: #BA8D5B;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.request__button{
    margin-top: 22px;
    padding: 14px 140px;
    background-color: #BA8D5B;
    font-size: 13px;
    font-weight: 700;
    border: none;
    border-radius: 100px;
    color: white;
    border: 2px solid white;

}
.request__button:hover{
    border: 2px solid rgb(124, 79, 231);
    background-color: #F9F8F7;
    color:rgb(124, 79, 231);
    cursor: pointer;
}
.info{
    margin-top: 20px;
    background-color: #F9F8F7;
}
.info_box{
    margin-top: 26px;
    display: flex;
    gap: 33px;
  
}
.info_text{
    max-width: 250px;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #607987;
    margin-top: 22px;
}
.internal{
    display: flex;
    gap: 191px;
    margin-top: 8px;

}
.info_internal_title{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.32px;
    line-height: 20px;
    color: #0F1826;
}
.internal_nav{
    margin-top: 40px;
}
.internal_li{
    font-size: 14px;
    font-weight: 600;
    line-height: 32px;
    color: #607987;
}
.container_hr{
    max-width: 880px;
    width: 100%;
    border-top: 1px solid #81755C4D;
    
    margin-top: 20px;
    margin-left: auto;
    margin-right: 0;
}
.bottom{
    display: flex;
    margin-top: 80px;
    gap: 60px;
}
.bottom_child{
    display: flex;
    gap: 80px;
}
.bottom_text{
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: #607987;
}
.bottom_text_two{
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #607987;
}
.bottom_inner_title{
    max-width: 220px;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #0F1826;
}
.bottom_inner_text{
    margin-top: 16px;
    max-width: 240px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    color: #607987;
}
.bottom_networks_box{
    display: flex;
    gap: 12px;
    margin-top: 16px;
}
.networks_title{
    color: #0F1826;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}
.btm{
    display: flex;
    gap: 167px;
}

@media  screen and (max-width: 725px){
     .container__box__img{
        max-width: 185px;
        width: 100%;
     }
     .header__link{  
        display: none;
     }
     .header__menu{
        gap: 16px;
     }
      .header__menu__img{
        display: none;
      }
      .header_burder{
        display: block;
    }
    .header__href{
        padding: 7px 21px;
        font-size: 16px;
        border: 2px solid white;
    }
   .hero{
    background-image: none;
   }
    .hero_inner_box{
        max-width: 600px;
        width: 100%;
       
    }
    .hero__title{
        font-size: 24px;
    }
    .hero__text{
        max-width: 343px;
        width: 100%;
        color: #607987;
        font-size: 14px;
    }
    .hero__button{
        margin-top: 24px;   
        padding: 8px 33px ;
        font-size: 16px;
    }
    .wrap{
        grid-template-columns: 1fr;
    }
    .wrap__box{
        padding: 20px 0;
    }
    .wrap__title{
        font-size: 28px;
    }
    .wrap__inner__title{
        font-size: 20px;
    }
    .wrap__inner_text{
        font-size: 14px;
    }
    .wrapper__title{
        font-size: 28px;
    }
    .wrapper__text{
        max-width: 372px;
        width: 100%     ;
        font-size: 14px;
    }
    .wrapper__inner__box{
        display: grid;
        gap: 24px;
    }
  
    .wrapper__button__title{
        font-size: 20px;
    }
    .wrapper__button__text{
      display: none;        
    }
    .wrapper__button__p{
        display: block;
        color: #607987;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin-top: 12px;
    }
    .customers_title{
        max-width: 400px;
        width: 100%;
        font-size: 28px;
    }
    .customers_text{
        max-width: 354px;
        font-size: 14px;
    }
  
    .customers_box{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .graduates_inner_png{
       display: none;
    }
    .graduates_inner_box{
        display: flex;
        justify-content: center;
    }   
    .request_img{
        display: none;
    }
    .request_box{
        padding: 16px 16px;
        border-radius: 20px;
    }
    .request_inner_box{
        padding: 20px 20px;
    }
    .request_title{
        font-size: 20px;
    }
    .request_text{
        font-size: 16px;
    }
    .request_name{
        font-size: 16px;
    }
    .requesti_input{
        max-width: 286px;
        width: 100%;
    }
    .request_p{
        font-size: 14px;
    }
    .request__button{
        max-width: 286px;
        width: 100%;
        padding: 12px 13px;
    }
    .info_inner_box{
        display: grid;
        grid-template-columns: 1fr;
    }
    .internal_li{
        display: none;
    }
    .info_text{
        font-size: 14px;
    }
    .internal{
        display: grid;
        grid-template-columns: 1fr;
    }
    .bottom{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media  screen and (max-width: 1060px){
    .graduates_inner_png_box2{
        display: none;
    }
    .customers_inner_box{
        display: grid;

    }
    .customers_box{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media  screen and (max-width: 600px){
   
    .customers_box{
        grid-template-columns: 1fr 1fr;
    }
    .customers_inner_box{
        display: none;
      
    }
    .customers_inner_img{
        padding: 28px 23px;
    }
}
@media  screen and (max-width: 1000px){
    .graduates_inner_png_box3{
        display: none;
    }

}




